@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inspiration';
    src: url('./assets/fonts/Inspiration-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'inria';
    src: url('./assets/fonts/InriaSerif-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('./assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}